<!-- Header -->
<div class="header">

    <!-- Logo -->
    <div class="header-left">
        <a href="#" class="logo">
            <img src="assets/img/logo.png" alt="Logo">
        </a>
        <a href="#" class="logo logo-small">
            <img src="assets/img/logo.png" alt="Logo" width="30" height="30">
        </a>
    </div>
    <!-- /Logo -->

    <!-- Header Menu -->
    <ul class="nav user-menu">

        <!-- User Menu -->
        <li class="nav-item dropdown has-arrow main-drop">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" id="dropdownMenuLink" role="button">
                <span class="user-img">
                    <img src="assets/img/head.jpg" alt="">
                    <span class="status online"></span>
                </span>
                <span>{{userName}}</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="profile.html"><i data-feather="user" class="mr-1"></i> Profile</a>
                <a class="dropdown-item" href="settings.html"><i data-feather="settings" class="mr-1"></i> Settings</a>
                <a class="dropdown-item" routerLink="/login" (click)="logout()"><i data-feather="log-out" class="mr-1"></i> {{isLogin?"Logout":"Login"}}</a>
            </div>
        </li>
        <!-- /User Menu -->

    </ul>
    <!-- /Header Menu -->

</div>
<!-- /Header -->