<!-- Header -->
<div class="header">

    <!-- Logo -->
    <div class="header-left">
        <a href="#" class="logo">
            <img src="assets/img/logo.png" alt="Logo">
        </a>
        <a href="#" class="logo logo-small">
            <img src="assets/img/logo.png" alt="Logo" width="30" height="30">
        </a>
    </div>
    <!-- /Logo -->

    <!-- Header Menu -->
    <ul class="nav user-menu">

        <!-- User Menu -->
        <li class="nav-item dropdown has-arrow main-drop">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" id="dropdownMenuLink" role="button">
                <span class="user-img">
                    <img src="assets/img/head.jpg" alt="">
                    <span class="status online"></span>
                </span>
                <span>{{userName}}</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" style="cursor: pointer;" data-toggle="modal" data-target="#addCLmodal"><i data-feather="addCl" class="mr-1" ></i> Add Catalog</a>
                <a class="dropdown-item" href="/myTimetable"><i data-feather="myTimetable" class="mr-1"></i> My Timetable</a>
                <a class="dropdown-item" routerLink="/login" (click)="logout()"><i data-feather="log-out" class="mr-1"></i> {{isLogin?"Logout":"Login"}}</a>
            </div>
        </li>
        <!-- /User Menu -->

    </ul>
    <!-- /Header Menu -->

</div>
<!-- /Header -->
<div class="modal fade " id="addCLmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add New Catalog</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label for="inputCatalog_nbr" style="margin: 0 10px;">Catalog Nbr:</label>
                    <input style="margin: 0 10px;" name="catalog_nbr" id="inputCatalog_nbr" type="text" [(ngModel)]="addCLdata.catalog_nbr">
                </div>
                <div class="row">

                    <label for="inpinputClassName" style="margin: 0 10px;">ClassName:</label>
                    <input style="margin: 0 16px;" name="className" id="inpinputClassName" type="text" [(ngModel)]="addCLdata.className">
                </div>
                <div class="row">
                    <label for="inputCatalog_description" style="margin: 0 10px;">Description:</label>
                    <input style="margin: 0 14px;" name="catalog_description" id="inputFacility_ID" type="text" [(ngModel)]="addCLdata.catalog_description">
                </div>
                <div class="row">

                    <label for="inputCLSubject" style="margin: 0 10px;">Subject:</label>
                    <select name="subject" id="inputCLSubject" [(ngModel)]="addCLdata.subject">
                                    <option value="ACTURSCI"> Actuarial Science
                                    </option>
                                    <option value="AMERICAN"> American Studies
                                    </option>
                                    <option value="ANATCELL"> Anatomy and Cell Biology
                                    </option>
                                    <option value="ANTHRO"> Anthropology
                                    </option>
                                    <option value="APPLMATH"> Applied Mathematics
                                    </option>
                                    <option value="ARABIC"> Arabic
                                    </option>
                                    <option value="AH"> Art History
                                    </option>
                                    <option value="ARTHUM"> Arts and Humanities
                                    </option>
                                    <option value="ASTRONOM"> Astronomy
                                    </option>
                                    <option value="BIBLSTUD"> Biblical Studies
                                    </option>
                                    <option value="BIOCHEM"> Biochemistry
                                    </option>
                                    <option value="BIOLOGY"> Biology
                                    </option>
                                    <option value="BME"> Biomedical Engineering
                                    </option>
                                    <option value="BIOSTATS"> Biostatistics
                                    </option>
                                    <option value="BUSINESS"> Business Administration
                                    </option>
                                    <option value="CALCULUS"> Calculus
                                    </option>
                                    <option value="CGS"> Centre for Global Studies
                                    </option>
                                    <option value="CBE"> Chem &amp; Biochem Engineering
                                    </option>
                                    <option value="CHEMBIO"> Chemical Biology
                                    </option>
                                    <option value="CHEM"> Chemistry
                                    </option>
                                    <option value="CSI" selected=""> Childhood &amp; Social Institutns
                                    </option>
                                    <option value="CHINESE"> Chinese
                                    </option>
                                    <option value="CHURCH"> Church History
                                    </option>
                                    <option value="CHURLAW"> Church Law
                                    </option>
                                    <option value="CHURMUSI"> Church Music
                                    </option>
                                    <option value="CEE"> Civil &amp; Envrnmntl Engineering
                                    </option>
                                    <option value="CLASSICS"> Classical Studies
                                    </option>
                                    <option value="CMBPROG"> Combined Program Enrollment
                                    </option>
                                    <option value="COMMSCI"> Communication Sci &amp; Disorders
                                    </option>
                                    <option value="COMPLIT"> Comparative Lit &amp; Culture
                                    </option>
                                    <option value="COMPSCI"> Computer Science
                                    </option>
                                    <option value="CA"> Creative Arts
                                    </option>
                                    <option value="DANCE"> Dance
                                    </option>
                                    <option value="DIGICOMM"> Digital Communication
                                    </option>
                                    <option value="DIGIHUM"> Digital Humanities
                                    </option>
                                    <option value="DISABST"> Disability Studies
                                    </option>
                                    <option value="EARTHSCI"> Earth Sciences
                                    </option>
                                    <option value="ECONOMIC"> Economics
                                    </option>
                                    <option value="EELC"> Education English Language Cen
                                    </option>
                                    <option value="ECE"> Elect &amp; Computer Engineering
                                    </option>
                                    <option value="ENGSCI"> Engineering Science
                                    </option>
                                    <option value="ENGLISH"> English
                                    </option>
                                    <option value="ENVIRSCI"> Environmental Science
                                    </option>
                                    <option value="EPID"> Epidemiology
                                    </option>
                                    <option value="EPIDEMIO"> Epidemiology &amp; Biostatistics
                                    </option>
                                    <option value="FIMS"> FIMS
                                    </option>
                                    <option value="FAMLYSTU"> Family Studies &amp; Human Develop
                                    </option>
                                    <option value="FLDEDUC"> Field Education
                                    </option>
                                    <option value="FILM"> Film Studies
                                    </option>
                                    <option value="FINMOD"> Financial Modelling
                                    </option>
                                    <option value="FOODNUTR"> Foods and Nutrition
                                    </option>
                                    <option value="FRENCH"> French
                                    </option>
                                    <option value="GEOGRAPH"> Geography
                                    </option>
                                    <option value="GEOLOGY"> Geology
                                    </option>
                                    <option value="GERMAN"> German
                                    </option>
                                    <option value="GGB"> Global Great Books
                                    </option>
                                    <option value="GLE"> Governance,Leadership &amp; Ethics
                                    </option>
                                    <option value="GREEK"> Greek
                                    </option>
                                    <option value="GPE"> Green Process Engineering
                                    </option>
                                    <option value="HEALTSCI"> Health Sciences
                                    </option>
                                    <option value="HEBREW"> Hebrew
                                    </option>
                                    <option value="HISTTHEO"> Historical Theology
                                    </option>
                                    <option value="HISTORY"> History
                                    </option>
                                    <option value="HISTSCI"> History of Science
                                    </option>
                                    <option value="HOMILET"> Homiletics
                                    </option>
                                    <option value="HUMANECO"> Human Ecology
                                    </option>
                                    <option value="HUMANRS"> Human Rights Studies
                                    </option>
                                    <option value="INDIGSTU"> Indigenous Studies
                                    </option>
                                    <option value="INTEGSCI"> Integrated Science
                                    </option>
                                    <option value="ICC"> Intercultural Communications
                                    </option>
                                    <option value="INTERDIS"> Interdisciplinary Studies
                                    </option>
                                    <option value="INTREL"> International Relations
                                    </option>
                                    <option value="ITALIAN"> Italian
                                    </option>
                                    <option value="JAPANESE"> Japanese
                                    </option>
                                    <option value="JEWISH"> Jewish Studies
                                    </option>
                                    <option value="MTP-BRJR"> Journalism-Broadcasting Fanshw
                                    </option>
                                    <option value="KINESIOL"> Kinesiology
                                    </option>
                                    <option value="LATIN"> Latin
                                    </option>
                                    <option value="LAW"> Law
                                    </option>
                                    <option value="LS"> Leadership Studies
                                    </option>
                                    <option value="LINGUIST"> Linguistics
                                    </option>
                                    <option value="LITURST"> Liturgical Studies
                                    </option>
                                    <option value="LITURGIC"> Liturgics
                                    </option>
                                    <option value="MOS"> Management &amp; Organizational St
                                    </option>
                                    <option value="MTP-MKTG"> Marketing - Fanshawe
                                    </option>
                                    <option value="MATH"> Mathematics
                                    </option>
                                    <option value="MME"> Mech &amp; Materials Engineering
                                    </option>
                                    <option value="MSE"> Mechatronic Systems Engineerin
                                    </option>
                                    <option value="MIT"> Media, Information &amp;Technocult
                                    </option>
                                    <option value="MEDBIO"> Medical Biophysics
                                    </option>
                                    <option value="MEDHINFO"> Medical Health Informatics
                                    </option>
                                    <option value="MEDSCIEN"> Medical Sciences
                                    </option>
                                    <option value="MEDIEVAL"> Medieval Studies
                                    </option>
                                    <option value="MICROIMM"> Microbiology &amp; Immunology
                                    </option>
                                    <option value="MORALTHE"> Moral Theology
                                    </option>
                                    <option value="MTP-MMED"> Multimed Dsgn &amp; Prod Fanshawe
                                    </option>
                                    <option value="MCS"> Museum and Curatorial Studies
                                    </option>
                                    <option value="MUSIC"> Music
                                    </option>
                                    <option value="NEURO"> Neuroscience
                                    </option>
                                    <option value="NURSING"> Nursing
                                    </option>
                                    <option value="ONEHEALT"> One Health
                                    </option>
                                    <option value="PASTTHEO"> Pastoral Theology
                                    </option>
                                    <option value="PATHOL"> Pathology
                                    </option>
                                    <option value="PERSIAN"> Persian
                                    </option>
                                    <option value="PHARM"> Pharmacology
                                    </option>
                                    <option value="PHILST"> Philosophical Studies
                                    </option>
                                    <option value="PHILOSOP"> Philosophy
                                    </option>
                                    <option value="PHYSICS"> Physics
                                    </option>
                                    <option value="PHYSIOL"> Physiology
                                    </option>
                                    <option value="PHYSPHRM"> Physiology and Pharmacology
                                    </option>
                                    <option value="POLISCI"> Political Science
                                    </option>
                                    <option value="PPE"> Politics, Philosophy, Economic
                                    </option>
                                    <option value="PSYCHOL"> Psychology
                                    </option>
                                    <option value="REHABSCI"> Rehabilitation Sciences
                                    </option>
                                    <option value="RELEDUC"> Religious Education
                                    </option>
                                    <option value="RELSTUD"> Religious Studies
                                    </option>
                                    <option value="SACRTHEO"> Sacramental Theology
                                    </option>
                                    <option value="SCHOLARS"> Scholars Electives
                                    </option>
                                    <option value="SCIENCE"> Science
                                    </option>
                                    <option value="SOCLJUST"> Social Justice &amp; Peace Studies
                                    </option>
                                    <option value="SOCSCI"> Social Science
                                    </option>
                                    <option value="SOCWORK"> Social Work
                                    </option>
                                    <option value="SOCIOLOG"> Sociology
                                    </option>
                                    <option value="SE"> Software Engineering
                                    </option>
                                    <option value="SPANISH"> Spanish
                                    </option>
                                    <option value="SPEECH"> Speech
                                    </option>
                                    <option value="SPIRTHEO"> Spiritual Theology
                                    </option>
                                    <option value="STATS"> Statistical Sciences
                                    </option>
                                    <option value="SA"> Studio Art
                                    </option>
                                    <option value="SYSTHEO"> Systematic Theology
                                    </option>
                                    <option value="THANAT"> Thanatology
                                    </option>
                                    <option value="THEATRE"> Theatre Studies
                                    </option>
                                    <option value="THEOETH"> Theological Ethics
                                    </option>
                                    <option value="THEOLST"> Theological Studies
                                    </option>
                                    <option value="THESIS"> Thesis
                                    </option>
                                    <option value="TJ"> Transitional Justice
                                    </option>
                                    <option value="VISARTS"> Visual Arts
                                    </option>
                                    <option value="WTC"> Western Thought &amp; Civilization
                                    </option>
                                    <option value="WOMENST"> Women's Studies
                                    </option>
                                    <option value="WORLDLIT"> World Literatures and Cultures
                                    </option>
                                    <option value="WRITING"> Writing
                                    </option>
                                </select>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                <button type="button" class="btn btn-primary" (click)="addCatalog()" data-dismiss="modal">Submit</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->