<!-- Main Wrapper -->
<div class="main-wrapper login-body">

    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="alert alert-info">
                    <span class="icon-info-sign"></span> As Western University continues to respond to the changing circumstances surrounding the COVID-19 pandemic, the Fall/Winter 2020-2021 course offerings may be subject to change. As you plan your
                    course selections, we encourage you to review the Academic Timetable regularly and follow updates on <a href="https://www.uwo.ca/coronavirus/students.html">Western's COVID-19 website.</a>
                    <br><br>
                    <b>Please Note:</b> Due to uncertainty around COVID-19, students must have a reliable internet connection and computer that are compatible with online learning and testing system requirements. Some courses may also require the use
                    of a remote proctoring platform (such as Proctortrack) to ensure tests are taken fairly in accordance with Western's policy on Scholastic Discipline for Undergraduate Students and Scholastic Discipline for Graduate Students.
                    <br><br> Computer requirements include:
                    <ul>
                        <li><b>Operating system: MAC:</b> OSX Yosemite 10.10.5 or higher, <b>PC:</b> Windows 7, 8, or higher</li>
                        <li><b>Processor/Ram: MAC:</b> Intel / AMD Processor, 2 GB RAM, <b>PC:</b> Dual-core 2.4 Ghz CPU, 2 GB RAM or better</li>
                        <li><b>Web Browsers:</b> Mozilla Firefox v20.0 or Higher Google Chrome v25.0 or higher</li>
                        <li><b>Plug-ins:</b> Javascript Enabled &amp; Third Party Cookies Enabled</li>
                        <li><b>Camera resolution:</b> 800 x 600 resolution or better</li>
                        <li><b>Internet connection:</b> Cable Modem, DSL or better (300 kbps download, 250 kbps upload)</li>
                    </ul>
                    <br> Please refer to the course syllabus and <a href="http://remoteproctoring.uwo.ca/">Western's remote proctoring website</a> for further information.
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Register</h1>
                        <p class="account-subtitle">Access to our dashboard</p>

                        <!-- Form -->
                        <form action="login.html">
                            <div class="form-group">
                                <label class="form-control-label">Name</label>
                                <input class="form-control" type="text" name="name" [(ngModel)]="name">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Email Address</label>
                                <input class="form-control" type="email" [(ngModel)]="email" name="email">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Password</label>
                                <input class="form-control" type="password" [(ngModel)]="password" name="password">
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Confirm Password</label>
                                <input class="form-control" type="password" [(ngModel)]="password_c" name="password_c">
                            </div>
                            <div class="form-group mb-0">
                                <button class="btn btn-lg btn-block btn-primary" type="submit" (click)="register()">Register</button>
                            </div>
                        </form>
                        <!-- /Form -->
                        <div class="text-center dont-have">Already have an account? <a routerLink="/login">Login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /Main Wrapper -->